<div class="col">
    <div class="card border-0">
    <img class="card-img-top mb-2" src="/image/{{id}}/top.svg" id="board-card" alt="Card image">
          <div class="card-body">
                <h5 class="card-title" id="card-under">{{name}}</h5>
                <a href="/board/{{id}}" class="btn btn-primary btn-dark">View Details</a>
          </div>
    </div>
</div>