<nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-home" href="/" role="tab">Home</a>
{{#if user}}
    <a class="nav-item nav-link" id="nav-private" href="/main" role="tab">Main</a>
    <a class="nav-item nav-link" id="nav-profile" href="/profile" role="tab">Profile</a>
    <form action='/logout' method="POST">
    <button class="nav-item nav-link" type="submit" id="nav-logout" role="tab">Log Out</button>
    </form>
{{/if}}

{{#if userSession}}
    <a class="nav-item nav-link" id="nav-private" href="/main" role="tab">Main</a>
    <a class="nav-item nav-link" id="nav-profile" href="/profile" role="tab">Profile</a>
    <form action='/logout' method="POST">
    <button class="nav-item nav-link" type="submit" id="nav-logout" role="tab">Log Out</button>
    </form>
{{else}}
    <a class="nav-item nav-link disabled" id="nav-private" href="/main" role="tab">Main</a>
    <a class="nav-item nav-link" id="nav-login" href="/login" role="tab">Login</a>
    <a class="nav-item nav-link" id="nav-signup" href="/signup" role="tab">Sign Up</a>
{{/if}}    
    <form class="form-inline my-2">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
