      {{#if flash}}
        <div class="alert alert-danger" role="alert">
            <p>{{flash}}</p>
        </div>
      {{/if}}

<div class="jumbotron">
  <h1 class="display-4">Open Circuit</h1>
  <h2 class="display-7">Open Source boards and project files!</h2>
  <p class="lead">PCBs, build guides and all the files to make them yourself.  A database of open source files for custom PCB projects.</p>
  <hr class="my-4">
  <p>From <a href="/boards/Audio">audio projects</a>, <a href="/boards/PiHat">Pi hats</a>, fantastic <a href="/boards/Art">art</a> and everything in-between use the files and build guides to edit, print, customize and make unique any of the listed projects!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/boards" role="button">Browse the boards</a>
  </p>
  <p>Looking for files to build a custom keyboard? Check <a href="/boards/Keyboard">here</a>!</p>
</div>


