
<a href="/" class="back">Search Again</a>
<div class="container pb-5">
    <h1 onclick="history.back()">Board List</h1>

      {{#if flash}}
        <div class="alert alert-warning" role="alert" onclick="history.back()">
            <p>{{flash}}</p>
        </div>
      {{/if}}    

    <div class="row">
        <div class="card-group text-center">
            {{#each boardList}}
                {{> board_search_results}} 
            {{/each}}
        </div>
    </div>
</div>