
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


#board-card{
  max-width: 20rem;
  max-height: 8rem;
  min-width: 20rem;
  min-height: 8rem;  
}

#nav-logout {
  border: 0;
  background-color: white;
}
